{% extends "base.html.twig" %}

{% block body %}
<div class="container">

<h1>Continuer mon profil</h1>
<br/><br/>

{{ form_start(form)}}
<div class="row">
<div class="col-6">
{{ form_row(form.sex, {'label':'Sexe','attr':{'placeholder':'Sexe'}})}}
</div>
<div class="col-6">
{{ form_row(form.picture, {'label':'Photo','attr':{'placeholder':'Photo'}})}}
</div>
</div>

{{ form_row(form.phone, {'label':'Téléphone','attr':{'placeholder':'Téléphone'}})}}
<div class="row">
<div class="col-6">
{{ form_row(form.love, {'label':'Vous aimes quoi ?','attr':{'placeholder':'Vous aimez quoi ?'}})}}
</div>
<div class="col-6">
{{ form_row(form.birthday, {'label':'Date anniversaire','attr':{'placeholder':'Date Anniversaire'}})}}


</div>
</div>
<div style="visibility: hidden;">

</div>
<button type="submit" class="btn btn-success">Valider</button>
{{form_end(form)}}
</div>
{% endblock %}