{% extends 'base.html.twig' %}

{% block title %}Nouveaux Restaurant{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Crée une annonce pour votre restaurant</h1>

        {{ form_start(form) }}

        <div class="row">
            <div class="col-6">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Informations du restaurant</h2>
                    <hr>
                    {{ form_row(form.name) }}
                    {{ form_row(form.adress) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.photo) }}
                </div>
            </div>
            <div class="col-6">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Détails du restaurant</h2>
                    <hr>
                    {{ form_row(form.description) }}
                    {{ form_row(form.categoryRestaurant) }}
                </div>
            </div>
            <div class="col-12">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Univers et avantage</h2>
                    <hr>
                    {{ form_row(form.design) }}
                    {{ form_row(form.kitchen) }}
                    {{ form_row(form.year) }}
                    {{ form_row(form.platJour) }}
                    {{ form_row(form.entree) }}
                    {{ form_row(form.plat) }}
                    {{ form_row(form.dessert) }}
                    {{ form_row(form.drinks) }}
                    {{ form_row(form.promotion) }}
                    {{ form_row(form.waste) }}
                    {{ form_row(form.recipe) }}
                    {{ form_row(form.openhours) }}
                </div>
            </div>
            <hr>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i>
                        Enregistrer mon restaurant
                    </button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
